<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Staff Create Assignment
    <form action="/teacher/create/assignment" method="POST">
    <label for="title">Title</label><br>
    <input type="text" name="title" id=""><br>
    <label for="">For year</label><br>
    yaha List of Years aaiga eg SE TE FE <br>
    <input type="text" name="year" id="" required><br>
    <label for="">Branch</label><br>
    <input type="text" name="branch"><br>
    <label for="">Description</label><br>
    <input type="text" name="description" id=""><br>
    <Label>Last date for teams to be entered</Label><br>
    <input type="date" name="teamEntryDate" id=""><br>
    <label for="">Project Submission Date</label><br>
    <input type="date" name="projSubDate" id=""><br>
    <button>Submit</button>
    </form> 
</body>
</html>
